body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
div.cover {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.cover {
    display: table-row;
    object-fit: contain;
    width: 100%;
    height: 100vh;
}
.wrapper {
    text-align: center;
}
.infobox {
    display: inline-block;
    position: absolute;
    background-color: grey;
    color: white;
    border-radius: 15px;
    padding:0px 5px 0px 5px;
    top: 75%;
    font-size: 10vh;
    z-index: 10;
}
.tapbox {
    display: inline-block;
    position: absolute;
    background-color: grey;
    color: white;
    border-radius: 15px;
    padding:0px 5px 0px 5px;
    top: 85%;
    font-size: 10vh;
    z-index: 10;
}

