* {
    font-family: 'Exo 2', sans-serif;
    text-shadow: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
div.cover {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.cover {
    display: table-row;
    object-fit: contain;
    width: 100%;
    height: 100vh;
}
.wrapper {
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 10;
}
#lowfloat {
    top: 65%;
}
#hifloat {
    top: 5%
}
.cornerbox p {
    margin: 0;
    padding 0 5px;
}
.cornerbox {
    float: left;
    display: block;
    background-color: #006666;
    color: #dadada;
    font-size: 25px;
    margin: 0 auto 0 5%;
    padding: 0 5px;
    border: 2px outset #dadada;
    border-radius: 3px;
}
.cornercount {
    font-size: 15px;
}
.floatbox {
    display: block;
    background-color: grey;
    color: white;
    font-size: 30px;
    margin: 0 auto;
}
#tapbox {
    top: 0%;
}
#actionbox {
    top: 50%;
}

.hibox

